$primary-font-family: "Roboto", sans-serif;
$primary-color: #373299;
$secondary-color: #f7f7f9;
$button-background-color: #ffffff;
$button-text-color: #373299;
$button-border-color: #373299;
$search-bar-background-color: #f7f7f9;
$search-bar-border-color: #02016680;
$search-bar-text-color: #373299;
$search-suggestions-background-color: #ffffff;
$search-suggestions-text-color: #373299;
$search-suggestions-box-shadow: 4px 4px 20px 0px #00000012;
