.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-spinner {
  width: 300px;
  height: 300px;
  position: relative;
}

.filling-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/pokedexLogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1; 
}

.appearing-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/pokedexLogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: appearAnimation 1s linear forwards; 
}

@keyframes appearAnimation {
  100% {
    clip-path: inset(0% 0% 0% 0%);
    animation: glow infinite alternate;
  }
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }
}
